{%extends 'coffeelab/base.html'%}
{%load static%}
{%block title%}Inicio | 202CoffeeLab{%endblock%}

{%block content%}
    <div class="container w-100  text-center" style="padding-top: 5%; padding-bottom: 10%; "  id="welcome">
        <h1 class="display-1">Bienvenido, Administrador</h1>
        <div class="container mt-5">
            <div class="row">
                <h1 class="mb-4">Lista de Usuarios</h1>
            </div>
            <div class="row">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Direccion</th>
                            <th>Ciudad</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for us in usuarios %}
                        <tr>
                            <td>{{ us.username }}</td>
                            <td>{{ us.email }}</td>
                            <td>{{ us.direccion }}</td>
                            <td>{{ us.ciudad }}</td>
                            <td><a href="{% url 'adminPanelUpdate' us.nombreUsuario %}">Modificar</a></td>
                            <td><a href="{% url 'adminPanelDelete' us.nombreUsuario %}">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
            <a style="color: white;" href="{% url 'adminPanelCreate' %}">Registrar nuevo usuario</a>
            
        </div>

        

        <input type="button" class="btn btn-primary mt-5" onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'" value="Panel de Control">
    </div>
{%endblock%}