{%extends 'coffeelab/base.html'%}
{%load static%}
{%block title%}Inicio | 202CoffeeLab{%endblock%}

{%block content%}

    <div class="container w-100  text-center" style="padding-top: 5%; padding-bottom: 10%; "  id="welcome">
        <h1 class="display-1">Bienvenido, Administrador</h1>
        <div class="container mt-5">

            <h2>Crear Usuario</h2>

            <form method="POST">
                {% csrf_token %}
                <div class="row mb-4">
                    <div class="col-md-3">
                        <label for="id_nombreUsuario" class="form-label">Nombre Usuario</label>
                        {{ form.username }}
                    </div>
                    <div class="col-md-3">
                        <label for="id_contrasena" class="form-label">Contraseña</label>
                        {{ form.password }}
                    </div>
                    <div class="col-md-2">
                        <label for="id_email" class="form-label">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="col-md-2">
                        <label for="id_direccion" class="form-label">Dirección</label>
                        {{ form.direccion }}
                    </div>
                    <div class="col-md-2">
                        <label for="id_ciudad" class="form-label">Ciudad</label>
                        {{ form.ciudad }}
                    </div>
                </div>
            

            
                <button type="submit" class="btn btn-danger">Enviar</button>
                <button type="reset" class="btn btn-primary">Limpiar</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'adminPanel' %}'">Volver</button>
            </form>
            {{mensaje}}
        </div>


        

        <input type="button" class="btn btn-primary mt-5" onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'" value="Panel de Control">
    </div>

{%endblock%}