{%extends 'coffeelab/base.html'%}
{%load static%}
{%block title%}Inicio | 202CoffeeLab{%endblock%}

{%block content%}

    <div class="container w-100  text-center" style="padding-top: 5%; padding-bottom: 10%; "  id="welcome">
        <h1 class="display-1">Bienvenido, {{ request.user.username }}</h1>
        <div class="container mt-5">

            <h2>Agregar producto</h2>

            <form method="POST" id="productoForm">
                {% csrf_token %}
                <div class="row mb-4">
                    <div class="col-md-3">
                        <label for="id_SKU" class="form-label">SKU</label>
                        {{ form.SKU }}
                    </div>
                    <div class="col-md-3">
                        <label for="id_nombreProducto" class="form-label">nombreProducto</label>
                        {{ form.nombreProducto }}
                    </div>
                    <div class="col-md-3">
                        <label for="id_precio" class="form-label">precio</label>
                        {{ form.precio }}
                    </div>
                    <div class="col-md-3">
                        <label for="id_imagen" class="form-label">imagen</label>
                        {{ form.imagen }}
                    </div>
                    <div class="col-md-4 mt-3 offset-md-4">
                        <label for="id_descripcion" class="form-label">descripcion</label>
                        {{ form.descripcion }}
                    </div>
                </div>
            

            
                <button type="submit" class="btn btn-danger">Enviar</button>
                <button type="reset" class="btn btn-primary">Limpiar</button>
                <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'administrarProductos' %}'">Volver</button>
            </form>
            {{mensaje}}
        </div>


        

        <input type="button" class="btn btn-primary mt-5" onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'" value="Panel de Control">
    </div>

{%endblock%}
{% block scripts %}
<script src="{% static 'coffeelab/js/agregarProducto.js' %}"></script>
{% endblock %}