{%extends 'coffeelab/base.html'%}
{%load static%}
{%block title%}Inicio | 202CoffeeLab{%endblock%}

{%block content%}
    <!-- <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg border-0">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img src="{% static 'coffeelab/img/cafe-grano-etiopia.jpeg' %}" class="img-fluid rounded-start" alt="Café">
                        </div>
                        <div class="col-md-7 d-flex align-items-center">
                            <div class="card-body">
                                <h2 class="card-title fw-bold">Café Etiopía</h2>
                                <p class="card-text">
                                    <strong>Notas:</strong> Panela, Frutos secos, Arándanos fermentados <br>
                                    <strong>Sabor:</strong> Ácido y cuerpo jugozo <br>
                                    <strong>Origen:</strong> Etiopia <br>
                                    <strong>Altura:</strong> 1,800 m.s.n.m.
                                </p>
                                <p class="fs-4 text-danger fw-bold">$10.990</p>
                                <button class="btn btn-success w-100">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
{%endblock%}