{%extends 'coffeelab/base.html'%}
{%load static%}
{%block title%}Inicio | 202CoffeeLab{%endblock%}

{%block content%}
    <div class="container w-100  text-center " style="padding-top: 10%; padding-bottom: 10%; padding-left: 10%; padding-right: 10%;"  id="welcome">

        <form class="row g-3" name="user-form" id="user-form">
            {% csrf_token %}

            <h1 style="margin-bottom: 50px ;">Login: Ingrese su usuario y contraseña</h1>

            {{form.as_p}}

            <div class="col-12">
                <button type="button" class="btn btn-primary" id="submit-button">Log in</button>
                <button type="button" class="btn btn-primary " onclick="window.location.href='{% url 'user' %}'">Volver</button>
                <button type="button" class="btn btn-primary " onclick="window.location.href='{% url 'recuperar' %}'">Recuperar Contraseña</button>
            </div>
        </form>


    </div>
    
{%endblock%}
{% block scripts %}
<script src="{% static 'coffeelab/js/ingresoUsuario.js' %}"></script>
{% endblock %}