{%extends 'coffeelab/base.html'%}
{%load static%}
{%block title%}Inicio | 202CoffeeLab{%endblock%}

{%block content%}
    <div class="container w-100  text-center" style="padding-top: 5%; padding-bottom: 10%; "  id="welcome">
        <h1 class="display-1">Bienvenido de nuevo, <span id="nombreUsuario"></span></h1>

        <div class="container mt-5">

            <h2>Actualizar datos</h2>

            <form method="POST" id="userForm">
                {% csrf_token %}
                <div class="row mb-4">
                    <div class="col-md-4">
                        <label for="id_nombreUsuario" class="form-label">Nombre Usuario</label>
                        {{ form.username }}
                    </div>
                    <div class="col-md-4">
                        <label for="id_password" class="form-label">Password</label>
                        {{ form.password }}
                    </div>
                    <div class="col-md-4">
                        <label for="id_confirmPassword" class="form-label">Confirmar Contraseña</label>
                        <input type="password" class="form-control col-md-3" id="id_confirmPassword" required>
                    </div>
                    <div class="col-md-4">
                        <label for="id_email" class="form-label">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="col-md-4">
                        <label for="id_direccion" class="form-label">Dirección</label>
                        {{ form.direccion }}
                    </div>
                    <div class="col-md-4 ">
                        <label for="id_ciudad" class="form-label">Ciudad</label>
                        {{ form.ciudad }}
                    </div>
                </div>
            

            
                    <button type="button" class="btn btn-danger" id="enviar">Modificar</button>
                    <button type="reset" class="btn btn-primary" id="limpiar">Limpiar</button>
                </form>
            
        </div>

    </div>

{%endblock%}
{% block scripts %}
<script>
    document.getElementById('nombreUsuario').innerText = localStorage.getItem('username');
</script>
<script src="{% static 'coffeelab/js/miPerfil.js' %}"></script>
{% endblock %}